:root {
  --background-color: #30332e;
  --highlighted-section-color: rgba(78, 205, 196, 0.2);
  --link-color: #55868c;
  --text-color: #fffbfc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 5px;
}

#background-transition {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  padding: 15px;
  transition-delay: 0.5s;
}

#background-transition:hover {
  background-color: var(--link-color);
  transition: background-color ease-in-out 1s;
  transition-delay: 0.5s;
}

#powiekszenie {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
  transform: scale(1);
  transition: transform ease-out 1s;
  transition-delay: 0.5s;
}

#powiekszenie:hover {
  transform: scale(1.5);
  transition: transform ease-in 1s;
  transition-delay: 0.5s;
}

#przesuniecie {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
  transform: translate(0px, 0px);
  transition: transform ease-in 4s;
  transition-delay: 0.5s;
}

#przesuniecie:hover {
  transform: translate(50px, 100px);
  transition: transform ease-out 3s;
  transition-delay: 0.5s;
}

#obrot {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
  transform: rotate(0deg);
  transition: transform ease-in 4s;
  transition-delay: 0.5s;
}

#obrot:hover {
  transform: rotate(180deg);
  transition: transform ease-out 3s;
  transition-delay: 0.5s;
}

#pochylenie {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
  transform: skew(0deg);
  transition: transform ease-in 4s;
  transition-delay: 0.5s;
}

#pochylenie:hover {
  transform: skew(20deg);
  transition: transform ease-out 3s;
  transition-delay: 0.5s;
}

#wszystko {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;

  transform: skew(0deg) rotate(0deg) translate(0px, 0px) scale(1);

  transition: transform 3s ease-out, background-color 1s ease-in-out;
  transition-delay: 0.5s;
}

#wszystko:hover {
  transform: skew(20deg) rotate(180deg) translate(50px, 100px) scale(1.5);
  background-color: var(--link-color);
}

@keyframes pulsowanie {
  0% {
    transform: scale(1);
    transition: 1s;
  }
  50% {
    transform: scale(1.5);
    transition: 1s;
  }
  100% {
    transform: scale(1);
    transition: 1s;
  }
}

#pulsowanie {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
  animation-name: pulsowanie;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes wejscie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#wejscie-tekstu {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
}

#tekst {
  opacity: 1;
  animation-name: wejscie;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

@keyframes obrot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: obrot 1s linear infinite;
  animation-direction: alternate;
}

#loader-container {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
}

@keyframes obrot3d {
  0% {
    transform: perspective(50rem) rotateX(0deg);
    backface-visibility: hidden;
  }
  100% {
    transform: perspective(5rem) rotateX(360deg);
    backface-visibility: hidden;
  }
}

#flip {
  height: 5em;
  width: 5em;
  background-color: var(--highlighted-section-color);
  padding: 15px;
  animation-name: obrot3d;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
