:root {
  --background-color: #30332e;
  --highlighted-section-color: rgba(78, 205, 196, 0.2);
  --link-color: #55868c;
  --text-color: #fffbfc;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: linear-gradient(
    to bottom,
    var(--link-color),
    var(--background-color)
  );
  background-attachment: fixed;
  color: var(--background-color);
  position: relative;
}

div,
figure {
  position: relative;
}

img {
  width: 20rem;
  height: auto;
}

header {
  background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg);
  width: 100vw;
  height: 5vh;
}

h1 {
  background: radial-gradient(var(--background-color), transparent);
  background-size: cover;
  text-align: center;
  color: var(--text-color);
}

h2 {
  background-color: var(--text-color);
  position: sticky;
  top: 0;
}

section {
  margin: 3rem;
  padding: 2rem;
  background-color: var(--text-color);
  position: relative;
  box-shadow: 5px 5px 5px;
}

button {
  background-color: var(--link-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

button:hover {
  cursor: pointer;
}

.badge {
  width: fit-content;
  height: fit-content;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2px;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  z-index: 20;
  width: 20rem;
  height: 99%;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}

img:hover ~ .overlay,
.overlay:hover {
  display: flex;
  visibility: visible;
}

.lightbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  width: 100%;
  height: 100%;
  z-index: 200;
}

.lightbox > img {
  width: 40rem;
  height: auto;
  position: absolute;
  top: 20%;
  left: 30%;
}

.lightbox:target {
  display: block;
}

.exit {
  background-color: black;
  color: var(--text-color);
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 10px;
  right: 10px;
  border: solid var(--text-color) 2px;
}
